*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

#center{
    position: absolute;
    left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    border: 1px solid black;
}  